#jinja2: trim_blocks: True, lstrip_blocks: True
{# --- Authentication ---
 #
 # enable public key authentication method?
 # sshd_pubkey_authentication: boolean | d('yes')
 #
 # enable password authentication method?
 # sshd_password_authentication: boolean | d('yes')
 #
 # enable keyboard-interactive authentication method?
 # sshd_kbd_interactive_authentication: boolean | d('no')
 #
 # use linux pam?
 # sshd_use_pam: boolean | d('yes')
 #
 # the sshd authentication method list
 # sshd_authentication_method: string[] | d(['any'])
-#}
{{ ansible_managed | comment }}

PubkeyAuthentication {{ item.sshd_pubkey_authentication | d(sshd_pubkey_authentication) | d('yes') }}
PasswordAuthentication {{ item.sshd_password_authentication | d(sshd_password_authentication) | d('yes') }}
KbdInteractiveAuthentication {{ item.sshd_kbd_interactive_authentication | d(sshd_kbd_interactive_authentication) | d('no') }}
UsePAM {{ item.sshd_use_pam | d(sshd_use_pam) | d('yes') }}

AuthenticationMethods {{ item.sshd_authentication_method | d(sshd_authentication_method) | d(['any']) | join(' ') }}
