#jinja2: trim_blocks: True, lstrip_blocks: True
{# --- Connection Keep-Alive ---
 #
 # send tcp keepalive message to the client
 # sshd_tcp_keep_alive: boolean | d('yes')
 #
 # the client alive interval (in seconds)
 # sshd_client_alive_interval: int | d(60)
 #
 # the client alive message count (0 to disable)
 # sshd_client_alive_count_max: int | d(0)
-#}
{{ ansible_managed | comment }}

TCPKeepAlive {{ item.sshd_tcp_keep_alive | d(sshd_tcp_keep_alive) | d('yes') }}
ClientAliveInterval {{ item.sshd_client_alive_interval | d(sshd_client_alive_interval) | d(60) }}
ClientAliveCountMax {{ item.sshd_client_alive_count_max | d(sshd_client_alive_count_max) | d(0) }}
