#jinja2: trim_blocks: True, lstrip_blocks: True
{# --- key revocation list ---
 #
 # the ssh key revocation list
 # sshd_key_revocation_list_file: string
 #
 # the ssh key revocation list template
 # sshd_key_revocation_list_template: string | d(omit)
-#}
{{ ansible_managed | comment }}

# the ssh key revocation list
RevokedKeys {{ sshd_key_revocation_list_file | mandatory }}
