#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

# permit root login via ssh
PermitRootLogin {{ item.sshd_permit_root_login | d(sshd_permit_root_login) | d('prohibit-password') }}
