#jinja2: trim_blocks: True, lstrip_blocks: True
{# --- Permit Root Login ---

 # permit root login via ssh
 sshd_permit_root_login: string | d('prohibit-password')
-#}
{{ ansible_managed | comment }}

PermitRootLogin {{ item.sshd_permit_root_login | d(sshd_permit_root_login) | d('prohibit-password') }}
