#jinja2: trim_blocks: True, lstrip_blocks: True
{# --- Print `/etc/issue.net` on Connect ---
 #
 # the sshd issue file
 # sshd_issue_file: '/etc/issue.net'
 #
 # the sshd issue template
 # shd_issue_template: 'etc/issue.net.j2'
-#}
{{ ansible_managed | comment }}

Banner {{ item.sshd_issue_file | d(sshd_issue_file) | d('/etc/issue.net') }}
