#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

Include {{ sshd__confdir | mandatory }}/sshd_config.d/*.conf

{% for _sshd__port in sshd__port %}
Port {{ _sshd__port }}
{% endfor %}
{% if sshd__listen_to is defined %}
{%   for _sshd__listen_to in sshd__listen_to %}
ListenAddress {{ _sshd__listen_to }}
{%   endfor %}
{% endif %}

{% if sshd__host_key_type is defined %}
{%   for _sshd__host_key_type in sshd__host_key_type %}
HostKey {{ sshd__confdir }}/ssh_host_{{ _sshd__host_key_type }}_key
{%   endfor %}
{% endif %}

Subsystem  sftp  /usr/lib/openssh/sftp-server -f AUTHPRIV -l INFO
