#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

Include {{ sshd_conf_d | mandatory }}/*.conf

{% for __sshd_port in sshd_port %}
Port {{ __sshd_port }}
{% endfor %}
{% if sshd_listen is defined %}
{%   for __sshd_listen in sshd_listen %}
ListenAddress {{ __sshd_listen }}
{%   endfor %}
{% endif %}

{% if sshd_host_key_type is defined %}
{%   for __host_key_type in sshd_host_key_type %}
HostKey {{ sshd_conf_d }}/ssh_host_{{ __host_key_type }}_key
{%   endfor %}
{% endif %}

Subsystem  sftp  /usr/lib/openssh/sftp-server -f AUTHPRIV -l INFO
