#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

# Options to pass to the borgbackup service
BORGBACKUP_OPTIONS="{{ borgbackup_service_option | regex_replace('\n', '\n  ') }}"
