#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

# Command-line options for borgbackup service.
DAEMON_OPTS="--config '/etc/borgbackup.d' --verbosity -1 --syslog-verbosity 1"
