#jinja2: trim_blocks: True, lstrip_blocks: True
{# --- an opinionated template to backup directory ---
 # @see https://torsion.org/borgmatic/docs/reference/configuration/
 #
 # the borgmatic backup directory list
 # item.directory: string[]
 #
 # the borgmatic backup compression
 # item.compression: string | d('auto,zstd')
 #
 # the borgmatic backup directory exclusion mark (do not backup directory containing this file)
 # item.exclude_mark: string | d('.nobackup')
 #
 # the borgmatic backup retention policy
    item.retention: dict
      daily: int | d(7)
      weekly: int | d(4)
      monthly: int | d(6)
      yearly: int | d(1)
-#}
{{ ansible_managed | comment }}

location:
{% if item.directory is defined %}
  source_directories:
  {{ item.directory | mandatory | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}
  repositories:
{% for sitem in item.repository | mandatory %}
  - "ssh://{{ sitem.user | mandatory }}@{{ sitem.host | mandatory }}/./{{ item.name | mandatory }}"
{% endfor %}
  exclude_if_present: "{{ item.exclude_mark | d('.nobackup') }}"
storage:
  encryption_passphrase: "{{ item.passphrase | mandatory }}"
  compression: "{{ item.compression | d('auto,zstd') }}"
  ssh_command: "ssh -i {{ item.home | d("/root") }}/.ssh/id_{{ borgbackup_ssh_key_type }}"
  archive_name_format: "{{ item.name | mandatory }}-{now}"
retention:
  keep_daily: {{ item.retention.daily | d(7) }}
  keep_weekly: {{ item.retention.weekly | d(4) }}
  keep_monthly: {{ item.retention.monthly | d(6) }}
  keep_yearly: {{ item.retention.yearly | d(1) }}
  prefix: "{{ item.name | mandatory }}-"
consistency:
  checks:
  - "repository"
  - "archives"
  check_last: 3
  prefix: "{{ item.name | mandatory }}-"
