#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

# the ssh client must belong to the group. otherwise it will be rejected.
AllowGroups {{ sshd_allow_group | mandatory | join(' ') }}
