#jinja2: trim_blocks: True, lstrip_blocks: True
#!/usr/sbin/nft -f
{{ ansible_managed | comment }}

{#  a minimalistic template

    # the ruleset
    #item.ruleset: []
#}

{% for rule in item.ruleset %}
{{ rule }}
{% endfor %}
