#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

Include {{ sshd_conf_d | mandatory }}/*.conf

{% for __port in sshd_port | mandatory %}
Port {{ __port | mandatory }}
{% endfor %}
{% if sshd_listen is defined %}
{% for __listen in sshd_listen %}
ListenAddress {{ __listen }}
{% endfor %}
{% endif %}

{% if sshd_host_key_type is defined %}
{% for __host_key_type in sshd_host_key_type %}
HostKey {{ sshd_conf_file | dirname }}/ssh_host_{{ __host_key_type }}_key
{% endfor %}
{% endif %}

# enable sftp subsystem. log sftp level file access.
Subsystem   sftp    /usr/lib/openssh/sftp-server -f AUTHPRIV -l INFO
