#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

Include {{ sshd__conf_includedir | mandatory }}/*.conf

Port {{ sshd__port | mandaroty }}
{% if sshd__listen_address is defined %}
ListenAddress {{ sshd__listen_address | mandatory }}
{% endif %}

Subsystem   sftp    /usr/lib/openssh/sftp-server
