#jinja2: trim_blocks: True, lstrip_blocks: True

{% macro sshd_option(key, value) %}
{%   if value is defined %}
{%     if value is sameas true %}
{{ key }} yes
{%     elif value is sameas false %}
{{ key }} no
{%     elif value is string or value is number %}
{{ key }} {{ value | string }}
{%     else %}
{%       for i in value %}
{{ key }} {{ i | string }}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endmacro %}
