#jinja2: trim_blocks: True, lstrip_blocks: True
{% macro sshd_directive(key, value) %}
{% if value | type_debug == "list" %}
{% for item in value %}
{{ key }} {{ item }}
{% endfor %}
{% else %}
{{ key }} {{ value }}
{% endif %}
{% endmacro %}
