{{ ansible_managed | comment }}

[Unit]
Description=borgbackup
Documentation=https://borgbackup.readthedocs.io/en/stable/
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=sleep 1m
ExecStart=systemd-inhibit --who="borgbackup" --what="sleep:shutdown" --why="Prevent interrupting scheduled backup" /usr/bin/borgmatic --config "{{ borgbackup_job_d }}" --verbosity -2 --syslog-verbosity 1
Restart=no
LogRateLimitIntervalSec=0

# Security settings for systemd running as root, optional but recommended to improve security.
# @see https://www.freedesktop.org/software/systemd/man/systemd.exec.html
LockPersonality=true
MemoryDenyWriteExecute=no
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
ProtectSystem=full
CapabilityBoundingSet=CAP_DAC_READ_SEARCH CAP_NET_RAW

Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100
