{{ ansible_managed | comment }}

[Unit]
Description=BorgBackup Service
Documentation=https://borgbackup.readthedocs.io/en/stable/
After=network.target

[Service]
Type=oneshot
User={{ borgbackup__user }}
Group={{ borgbackup__group }}
EnvironmentFile=/etc/default/{{ borgbackup__service_name | replace('.service', '') }}
ExecStartPre=sleep 1m
ExecStart=systemd-inhibit --who="borgbackup" --what="sleep:shutdown" --why="Prevent interrupting scheduled backup" /bin/bash -c '/usr/bin/borgmatic $BORGBACKUP_OPTIONS'
Restart=no
LogRateLimitIntervalSec=0

LockPersonality=true
MemoryDenyWriteExecute=no
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
ProtectSystem=full
CapabilityBoundingSet=CAP_DAC_READ_SEARCH CAP_NET_RAW

Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100
