{{ ansible_managed | comment }}

[Unit]
Description=BorgBackup Service Schedule
Conflicts=borgmatic.timer

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=3h

[Install]
WantedBy=timers.target
