#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

{#  a minimalistic template
    @see https://torsion.org/borgmatic/docs/reference/configuration/

    # the location configuration block
    item.location: yaml
    # the storage configuration block
    item.storage: yaml | d(omit)
    # the retention configuration block
    item.retention: yaml
    # the consistency configuration block
    item.consistency: yaml | d(omit)
    # the hook configuration block
    item.hook: yaml | d(omit)
-#}

location:
  {{ item.location | mandatory | to_nice_yaml(indent=2) | indent(2) }}
{% if item.storage is defined %}
storage:
  {{ item.storage | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}
retention:
  {{ item.retention | mandatory | to_nice_yaml(indent=2) | indent(2) }}
{% if item.consistency is defined %}
consistency:
  {{ item.consistency | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}
{% if item.hook is defined %}
hooks:
  {{ item.hook | to_nice_yaml(indent=2) | indent(2) }}
{% endif %}
